.SpecialOffers-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.SpecialOffers-Banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SpecialOffers-Banner img {
  width: 100%;
  height: 100vh;
}
.SpecialOffers-Banner-Contact-details {
  width: 858px;
  height: 547px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 20%;
  left: 5%;
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding:1rem 0 0 2rem;
}
.SpecialOffers-Banner-Contact-details h1 {
  margin: 0%;
  color: #e26739;
  text-shadow: 0px 10px 20px rgba(247, 146, 30, 0.5);
  font-size: 80px;
  font-weight: 600;
 
  position: relative;
}
.SpecialOffers-Banner-Contact-details h2 {
  margin: 0%;
  color: #000000;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 35px;
  font-weight: 600;
  width: 60%;
  line-height: 1.6;
}
.SpecialOffers-Banner-Contact-details h3 {
  margin: 0%;
  font-family: 'Smooch', cursive;
  color: rgba(0, 0, 0, 0.7);
  font-size: 50px;
  font-weight: 400;
}
.SpecialOffers-Btn-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.SpecialOffers-Btn-row span {
  width: 10%;
  height: 57px;
  background-color: #e26739;
  color: white;
  padding: 0.6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
}
.SpecialOffers-Btn-row a {
  width: 287px;
height: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: #e26739;
  justify-content: center;
  
  color: white;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
}
.SpecialOffers-Banner-Contact-details-Email {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
}
.SpecialOffers-CariKature {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: -4%;
 right: -19%;
  direction: ltr;
}
.SpecialOffers-CariKature img {
  width: 1200px;
  height: 820px;
  position: relative;
  bottom: 3%;
  overflow: hidden !important;
  clip: rect(110px, 160px, 170px, 60px);
}
.SpecialOffer-Carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.UC-Carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.laminate-container{
  width: 90vw;
  position: relative;
  display: flex;
  margin-top:40px;
  margin-bottom: 60px;
  gap: 3rem;
}
.laminate-container .popup-wrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.laminate-leftside{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}
.laminate-leftside h1{
  width: 100%;
  font-size: 2.1rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 60px;
  line-height: 1.3;
  transition: all 0.3s ease;
}
.laminate-leftside p{
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7;
  transition: all 0.3s ease;
  margin-bottom: 42px;
}
.laminate-leftside button{
  padding:13px 60px;
  background: #E26739;
  border: none;
  color:#ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 10px;
  position: relative;
}
.laminate-rightside{
  width: 38%;
  transition: all 0.3s ease;
}
.laminate-rightside img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offer-h1{
  font-size: 2.1rem;
  font-weight: 700;

}
.upcomming-offer-h1{
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 80px;
}
.laminate-div{
 width: max-content;
 display:flex;
 justify-content: space-between;
 margin-top: 60px;
 
}
.laminate-div span{
  height: 15px;
  width: 15px;
  background: #D9D9D9;
  border-radius: 50%;
  margin: 0 1rem;
}

.orange-dot{
  background: #e26739 !important;
  
}
.laminate-div-1{
  width: 10%;
  display:flex;
  justify-content: space-between;
  margin-bottom: 80px;
 
 }
 .laminate-div-1 span{
   height: 25px;
   width: 25px;
   background: #D9D9D9;
   border-radius: 50%;
 }
 .laminate-div-1 span:first-child{
   background: #2C1911;
 }

 @media only screen and (max-width: 768px) {
  .laminate-rightside {
    display: none;
  }
  .laminate-leftside {
    width: 100%;
    margin-top: 1rem;
  }
  .laminate-container {
    width: 100%;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    gap: 1rem;
  }
  .laminate-leftside p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
  }
  .laminate-leftside h1 {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.3;
  }
  .laminate-leftside button {
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }
  .laminate-div {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .laminate-leftside p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
  }
  .laminate-leftside h1 {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    line-height: 1.3;
  }
  .laminate-leftside button {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }
}