.catalog-images-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    width: 47vw;
    margin-left: 10rem;
    color: white;
    text-align: center;
    vertical-align: center;
    margin-top: auto;
}
.cat-card{
    width:calc(100vw / 8);
    height: calc(100vw / 8);
    min-height:230px;
    max-height: 300px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.cat-card:hover .cat-card-title{
    background: #000;
}
  .cat-card:hover{
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
   
  }
  .cat-card-title{
    width: 100%;
    padding: 0.5rem;
    background: linear-gradient(0deg, rgba(81, 81, 81, 1) 0%, rgba(217, 217, 217, 0) 124.66%);
  }
 
@media only screen and (max-width: 1200px) {
    .AboutUs-Features-Container {
        width: 90%;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-top: 3rem;
    }
    .Features-Content {
        width: 50%;
    }
    .cat-card {
        width: 48%;
        height: 10rem;
        min-height: 10rem;
        font-size: 1.5rem;
      }
      .catalog-images-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 50%;
        margin-left: 0;
      }
}
@media only screen and (max-width: 768px) {
    .AboutUs-Features-Container {
        width: 100%;
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        flex-direction: column;
        padding: 1rem;
    }
    .Features-Content {
        width: 100%;
    }
    .catalog-images-container {
        width: 100%;
    }
    .Features-Content h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 26px;
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 500px) {
    .catalog-images-container {
        gap: 1rem;
    }
    .cat-card {
        width: calc(50% - 0.5rem);
        margin: 0;
        font-size: 1.3rem;
        box-shadow: inset 1000px 0px 10px rgba(0,0,0,0.4);
    }
    .Features-Content h1 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 26px;
        margin-bottom: 0;
    }
}