@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Unna:wght@400;700&display=swap');

.Home-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
}
.social-media-floater .social-media-icon{
  width: 2rem;
  cursor: pointer;
}
.social-media-floater{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 50%;
  right: 0;
  background: #fff;
  transform: translateY(-50%);
  padding: 1rem 0.5rem;
  border-radius: 8px 0 0 8px;
  z-index: 10000;
  box-shadow: -1px -1px 16px rgba(0,0,0,0.2);
}
.floating-btn{
  position: fixed;
  bottom: 5%;
  right: 1.5rem;
  background: #e26739;
  padding: 0.8rem 1rem;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}
.btn-estimation{
  display: none;
}
.Banner {
  width: 100%;
  height: 100vh;
  display: flex;

}
.Banner img {
  height: 100vh;
  width: 100vw;
}
.Btn-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.Btn-row span {
  width: 10%;
  height: 57px;
  background-color: #e26739;
  color: white;
  padding: 0.6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
}
.Btn-row a {
  width: 287px;
height: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: #e26739;
  justify-content: center;
  
  color: white;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
}
.Banner-Contact-details-Email {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 12px;
}
.Home-CariKature {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: -4%;
 right: -19%;
  direction: ltr;
  
 
}
.Home-CariKature img {
  width: 1200px;
  height: 820px;
  position: relative;
  bottom: 3%;
  overflow: hidden !important;
  clip: rect(110px, 160px, 170px, 60px);
  
}
.Products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Why-choose-us {
  width: 90%;
  display: flex;
  flex-direction: row;

  gap:200px;
}
.Why-choose-us-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Why-choose-us-content h1{
  font-size: 2.1rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 50px;
}
.Why-choose-us-content h4{
  font-size: 35px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1.4;
  width: 100%;
  
}
.Why-choose-us-content a {
  background-color: #e26739;
  padding: 14px 40px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0;
}
.Why-choose-us-content p {
  width: 80%;
  text-align: justify;
}
.Why-choose-us-content h4 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1.4;
  width: 100%;
}
.Why-choose-us-Image {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -5%;
}
.Why-choose-us-Image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.slick-crousel-container div{

height:200px;
width:100%;
border :1px solid black}


.slider-card{
  height:400px;


display:flex;



box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 20px;


}
.slider-card img{
  height:60px;

width:60px;}
.cs-container{

  display: flex;
  justify-content: space-around;
}

.Testimonial-Carousel{

  width: 100vw;

}
.slick-crousel-container{
  width: 100%;
}
.custom-dots{
  background: orange;
}
.slick-dots li button{
  color: orange !important;
}
.slick-slide{
  margin: 0 1rem;
}
.slick-list{
  width: 100% !important;
}
.slick-prev:before, .slick-next:before {
  color:#e26739 !important;
  transform:scale(1.6) !important;
font-size: 2rem !important;
}
slick-prev:before, .slick-next:before:last-child{
  position: relative;
  left:-2%;

}

.center-heading{
font-size: 55px;
font-weight: 600;
text-align: center;
margin:34px 0 100px 0;
color: #fff;
}
.client-text-h1{
  font-size: 2.1rem;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}
.clients-review-home{
  display: flex;
  padding: 1rem 7%;
  gap: 2rem;
  margin: 2rem 0;
}
.clients-review-home .client-review-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  flex: 1;
  color: #fff;
}
.client-profile{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: purple;
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
}
.client-profile-img{
  width: 100%;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.client-review-card .client-name{
  margin: 0.5rem 0;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.more-review-btn-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-more-review{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: transparent;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 3px solid #e26739;
}
.btn-more-review strong{
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #e26739;
}
.btn-more-review span{
  font-size: 1rem;
  color: #fff;
}
.google-img{
  width: 5rem;
}
.what-client-say-wrapper{
  background-color: #5b5756;
  padding: 3rem 0;
}
@media only screen and (max-width: 768px) {
  .Product-Name h2 {
    font-size: 1rem;
  }
  .react-multi-carousel-dot button {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: none;
    margin-right: 3px;
    outline: 0;
    cursor: pointer;
  } 
  .Why-choose-us-Image {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
  }
  .Why-choose-us-Image img {
    object-fit: cover;
    margin-left: auto;
  }
  .Why-choose-us-content h4 {
    font-size: 1.1rem;
    margin-bottom: 40px;
    line-height: 1.4;
    width: 100%;
  }
  .Why-choose-us {
    gap: 1rem;
  }
  .Why-choose-us-content h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .Why-choose-us-content a {
    width: max-content;
    height: max-content;
    padding: 1rem;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
  }
  .client-text-h1 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .crousel-slide {
    display: flex;
    width: 100%;
    padding: 1rem;
  }
  .cardd{
    width: 100%;
  }
  .cardd h1 {
    font-size: 1.8rem;
  }
  .current {
    position: relative;
    top: -15%;
    margin: 1rem;
    width: 8rem;
  }
}

@media only screen and (max-width: 500px) {
  .social-media-floater{
    top: auto;
    bottom: 0;
    flex-direction: row;
    right: 50%;
    transform: translate(50%,0);
    padding: 0.5rem;
    border-radius: 6px 6px 0 0;
    justify-content: center;
    width: 100%;
    align-items: center;
    z-index: 1000;
  }
  .btn-estimation{
    margin-left: auto;
    background: #e26739;
    color: #fff;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }
  .floating-btn{
    display: none;
  }
  .Why-choose-us-Image{
    display: none;
  }
  .Why-choose-us-content{
    width: 100%;
  }
  .Why-choose-us-content h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }
  .Why-choose-us-content h4 {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    width: 100%;
  }
  .Product-Catalogue-Header h1 {
    margin: 1rem;
    font-size: 1.6rem;
  }
  .Home-Container .Product-Name h2 {
    font-size: 1rem;
  }
  .Home-Container .react-multi-carousel-dot button {
    width: 5px;
    height: 5px;
  }
  .Home-Container .react-multi-carousel-dot-list {
    position: relative !important;
    bottom: -1rem !important;
  }
  .Home-Container .Product-Catalogue {
    padding-bottom: 3rem;
  }
  .Home-Container .ProductCat-Container {
    margin-bottom: 0;
  }
  .Why-choose-us-content a {
    padding: 0.8rem 2rem;
    font-size: 0.9rem;
    width: 100%;
  }
  .client-text-h1 {
    font-size: 1.6rem;
  }
  .Btn-row a {
    width: max-content;
    height: max-content;
    border-radius: 7px;
    font-size: 1rem;
  }
  .Btn-row{
    gap: 0;
  }
  .Btn-row span{
    height: max-content;
  }
  .clients-review-home{
    flex-direction: column;
  }
  .client-review-card .client-review{
    text-align: justify;
    font-size: 0.9rem;
  }
  .clients-review-home .client-profile{
    width: 3rem;
    height: 3rem;
    font-size: 1.3rem;
  }
  .client-profile-img{
    height: 3rem;
  }
}