.UpComingCarousel-Carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UpComingCarousel {
  width: 100%;
}

.UpCarousel-Slide {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.UpCarousel-Slide span {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 100%;
  background-color: #e26739;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000000 !important;
}

.UpCarousel-Slide img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.UpComingCarousel .react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content {
  width: 100%;
  box-shadow: none;
  opacity: 1 !important;
}

.UpComingCarousel .react-3d-carousel .slider-container .slider-right div {
  display: block;
  border-top: 10px solid transparent;
  border-left: 20px solid #e26739;
  border-bottom: 10px solid transparent;
  padding: 0%;
}

.UpComingCarousel .react-3d-carousel .slider-container .slider-left,
.UpComingCarousel .react-3d-carousel .slider-container .slider-right {
  height: max-content;
  top: 25%;
}

.UpComingCarousel .react-3d-carousel .slider-container .slider-right i {
  color: white;
  content: "\2192";
}

.UpComingCarousel .react-3d-carousel .slider-container .slider-left div {
  display: block;
  border-top: 10px solid transparent;
  border-right: 20px solid #e26739;
  border-bottom: 10px solid transparent;
  padding: 0%;
}

.react-3d-carousel {
  width: 100vw !important;
  height: 35vw !important;
}

@media only screen and (max-width: 768px) {

  .UpComingCarousel .react-3d-carousel .slider-container .slider-left,
  .UpComingCarousel .react-3d-carousel .slider-container .slider-right {
    top: 5%;
    padding: 0;
  }
  .UpComingCarousel .react-3d-carousel .slider-container .slider-left{
    left: 0;
  }
  .UpComingCarousel .react-3d-carousel .slider-container .slider-right{
    right: 3%;
    left: auto !important;
  }
  .UpCarousel-Slide {
    width: 35%;
    height: 20rem;
  }
  .react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .UpCarousel-Slide span {
    width: 5rem;
    height: 5rem;
  }
  .upcomming-offer-h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 500px) {
  .UpComingCarousel .react-3d-carousel .slider-container .slider-left div,
  .UpComingCarousel .react-3d-carousel .slider-container .slider-right div {
    display: none;
  }
  .UpCarousel-Slide {
    width: 90%;
    height: 20rem;
  }
  .UpComingCarousel .react-3d-carousel {
    width: 100vw !important;
    height: 344px !important;
    overflow: visible;
  }
  .upcomming-offer-h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .UpCarousel-Slide span {
    width: 3rem;
    height: 3rem;
    font-size: 0.9rem;
    text-align: center;
  }
}