.Footer-Container{
  background-color: #5b5756;
  padding: 2rem 5%;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-gap: 3rem;
  grid-template-areas: 'map touch newsletter''copy copy copy';
  margin-top: 3rem;
}
.Footer-Container .footer-title{
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}
.Footer-Container .Footer-Map{
  grid-area: map;
}
.Footer-Container .Footer-Map iframe{
  width: 100%;
  height: 15rem;
  border-radius: 10px;
}
.Footer-Container .Get-in-Touch{
  grid-area: touch;
}
.Footer-Container .Get-in-touch-row{
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
}
.Footer-Container .Get-in-touch-row svg{
  font-size: 2rem;
  margin-right: 1rem;
}
.Footer-Container .Get-in-Touch a{
  color: #fff;
  text-decoration: none;
}
.Footer-Container .Footer-Social-media{
  margin-top: 1rem;
}
.Footer-Container .Footer-Social-media svg{
  font-size: 2rem;
  margin-right: 1rem;
}
.Footer-Container .News-Letter{
  grid-area: newsletter;
  display: flex;
  flex-direction: column;
}
.Footer-Container .News-Letter h3{
  color: #fff;
  font-size: 1.3rem;
}
.Footer-Container .News-Letter input{
  border: 4px solid #fff;
  border-radius: 8px;
  padding: 0.8rem;
  margin: 0.5rem 0;
  color: #fff;
}
.Footer-Container .News-Letter input::placeholder{
  color: #fff;
}
.Footer-Container .News-Letter a{
  background: #E26739;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  width: max-content;
  margin-top: 1rem;
}
.Footer-Container .techjain-container{
  grid-area: copy;
  text-align: center;
  width: 100%;
  color: #fff;
}
.Footer-Container .techjain-container a{
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .Footer-Container {
    background-color: #5b5756;
    padding: 2rem 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    grid-template-areas: 'map' 'touch' 'newsletter''copy';
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .Footer-Container .footer-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .Footer-Container .Get-in-touch-row svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  .Footer-Container .Get-in-Touch a,
  .Footer-Container .Get-in-Touch p {
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
  }
  .Footer-Container .Footer-Social-media {
    margin-top: 2rem;
  }
  .Footer-Container .News-Letter h3 {
    font-size: 1rem;
  }
  .Footer-Container .techjain-container a,
  .Footer-Container .techjain-container p {
    font-size: 0.8rem;
  }
}