.Footer-Container{
  background-color: #5b5756;
  padding: 2rem 5%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 3rem;
  grid-template-areas: 'map touch quicklinks newsletter''copy copy copy copy';
  margin-top: 3rem;
  position: relative;
}
.Footer-Container .footer-title{
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}
.Footer-Container .Footer-Map{
  grid-area: map;
}
.Footer-Container .Footer-Map iframe{
  width: 100%;
  height: 15rem;
  border-radius: 10px;
}
.Footer-Container .Get-in-Touch{
  grid-area: touch;
}
.Footer-Container .Get-in-touch-row{
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
}
.Footer-Container .Get-in-touch-row svg{
  font-size: 2rem;
  margin-right: 1rem;
}
.Footer-Container .Get-in-Touch a{
  color: #fff;
  text-decoration: none;
}
.Footer-Container .Footer-Social-media{
  margin-top: 3rem;
  width: 50%;
  display: flex;
  justify-content: center;
}
.Footer-Container .Footer-Social-media svg{
  font-size: 3rem;
  margin-right: 1rem;
}
.Footer-Container .quick-links{
  grid-area: quicklinks;
}
.Footer-Container .quick-links ul{
  list-style: none;
}
.Footer-Container .quick-links li{
  margin: 0.5rem 0;
}
.Footer-Container .quick-links a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.Footer-Container .News-Letter{
  grid-area: newsletter;
  display: flex;
  flex-direction: column;
}
.Footer-Container .News-Letter h3{
  color: #fff;
  font-size: 1.3rem;
}
.Footer-Container .News-Letter input{
  border: 4px solid #fff;
  border-radius: 8px;
  padding: 0.8rem;
  margin: 0.5rem 0;
  color: #fff;
}
.Footer-Container .News-Letter input::placeholder{
  color: #fff;
}
.Footer-Container .News-Letter a,
.Footer-Container .News-Letter button{
  background: #E26739;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  width: max-content;
  display: block;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.Footer-Container .News-Letter a:last-child{
  margin-top: 2rem;
  margin-left: auto;
  position: absolute;
  bottom: 2rem;
  z-index: 1000;
  right: 2rem;
  border: 2px solid #fff;
  background: transparent;
  transition: all 0.3s ease;
}
.Footer-Container .News-Letter a:last-child:hover{
  background: #fff;
  color: #E26739;
}
.Footer-Container .techjain-container{
  grid-area: copy;
  text-align: center;
  width: 100%;
  color: #fff;
}
.Footer-Container .techjain-container a{
  color: #fff;
  text-decoration: none;
}
.Footer-Container .techjain-container hr{
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .Footer-Container {
    background-color: #5b5756;
    padding: 2rem 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    grid-template-areas: 'map' 'touch' 'quicklinks' 'newsletter''copy';
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .Footer-Container .footer-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .Footer-Container .Get-in-touch-row svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  .Footer-Container .Get-in-Touch a,
  .Footer-Container .Get-in-Touch p {
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
  }
  .Footer-Container .Footer-Social-media {
    margin-top: 2rem;
  }
  .Footer-Container .News-Letter h3 {
    font-size: 1rem;
  }
  .Footer-Container .techjain-container a,
  .Footer-Container .techjain-container p {
    font-size: 0.8rem;
  }
  .Footer-Container .News-Letter a{
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
  }
  .Footer-Container .News-Letter a:last-child{
    position: initial;
    height: max-content;
    margin-top: 1rem;
  }
  .Footer-Container .news-btn-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
  }
}